{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('emailAvailabilities') }}
{% endblock %}

{% block body %}
    <h1 class="h3 mb-4 text-gray-800"> Préparation de l'email</h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.body, {value: '
        Bonjour à toutes et tous,<br>
        Si tu reçois cet email c’est que tu as déjà été bénévole la ou les années précédentes.<br><br>
        Tu es donc prioritaire pour t’inscrire ! Toutefois, nous te demandons de respecter les délais d’inscription afin
        que nous puissions, en temps et en heure, compléter les équipes en fonction des besoins.<br>
        Tu trouveras dans ce mail un lien afin que tu puisse nous donner tes disponibilités.<br><br>
        Peux tu remplir le formulaire des disponibilités ci-desssous avant le ...<br>
        Merci et à bientôt.
    '}) }}

    <input type="hidden" name="ignoredUsers">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste bénévoles</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="volunteers_table" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Nom</th>
                        <th>Prénom</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="align-content-center" style="width: 10px;">
                                <input type="checkbox" class="volunteers-checkbox" value="{{ user.id }}" checked>
                            </td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.lastname }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <button class="btn btn-primary submit mb-4 float-right">Envoyer</button>

    {{ form_end(form) }}

{% endblock %}

{% block title %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('emailAvailabilities') }}
{% endblock %}

