{% extends 'base.html.twig' %}

{% block title %}VolunteerAvailability index{% endblock %}

{% block body %}
    <h1>{% trans %}VolunteerAvailability{% endtrans %} {% trans%}list{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th>{% trans %}StartDate{% endtrans %}</th>
                <th>{% trans %}EndDate{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for volunteer_availability in volunteer_availabilities %}
            <tr>
{#                <td>{{ volunteer_availability.id }}</td>#}
                <td>{{ volunteer_availability.startDate ? volunteer_availability.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ volunteer_availability.endDate ? volunteer_availability.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('volunteer_availability_show', {'id': volunteer_availability.id}) }}"><i
                                class="far fa-eye"></i></a>
                    <a class="btn btn-primary" href="{{ path('volunteer_availability_edit', {'id': volunteer_availability.id}) }}"><i
                                class="far fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('volunteer_availability_new') }}" class="btn btn-outline-primary">{% trans %}Add{% endtrans %}</a>

{% endblock %}
