{% extends 'base.html.twig' %}

{% block title %}VolunteerAvailability index{% endblock %}

{% block body %}
    <h1 class="h3 mb-4 text-gray-800">Bénévoles disponibles pour {{ current_festival.name }}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>{% trans %}Nom{% endtrans %}</th>
            <th>{% trans %}Prénom{% endtrans %}</th>
            <th>{% trans %}Email{% endtrans %}</th>
            <th>{% trans %}Festival<{% endtrans %}/th>
            <th>{% trans %}Debut{% endtrans %}</th>
            <th>{% trans %}Fin{% endtrans %}</th>
            <th>{% trans %}actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for volunteer_availability in volunteer_availabilities %}
            <tr>
                <td>{{ volunteer_availability.user.lastname }}</td>
                <td>{{ volunteer_availability.user.firstname }}</td>
                <td>{{ volunteer_availability.user.email }}</td>
                <td>{{ volunteer_availability.festival.name }}</td>
                <td>{{ volunteer_availability.startDate ? volunteer_availability.startDate|date('Y-m-d H:i') : '' }}</td>
                <td>{{ volunteer_availability.endDate ? volunteer_availability.endDate|date('Y-m-d H:i') : '' }}</td>
                <td>
                    <a class="btn btn-primary"
                       href="{{ path('volunteer_availability_show', {'id': volunteer_availability.id}) }}"><i
                                class="far fa-eye"></i></a>
                    <a class="btn btn-primary"
                       href="{{ path('volunteer_availability_edit', {'id': volunteer_availability.id}) }}"><i
                                class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('volunteer_availability_new') }}">{% trans %}Add{% endtrans %} {% trans %}Volunteer{% endtrans %}</a>

    <a class="btn btn-primary" href="{{ path('volunteer_availability_prepare_email', {'id': current_festival.id}) }}">{% trans %}Availability request{% endtrans %}</a>
{% endblock %}
