{% extends 'base.html.twig' %}

{% block title %}New VolunteerAvailability{% endblock %}

{% block body %}

    {% if token is defined %}
        <h1 class="h3 mb-4 text-gray-800">{{ festival }}</h1>
        <p> Merci de saisir tes disponibilités pour le festival</p>
    {% else %}
        <h1 class="h3 mb-4 text-gray-800">Ajouter un bénévole</h1>
    {% endif %}

    {{ include('volunteer_availability/_form.html.twig') }}

    {{ form_start(form) }}
    {{ form_row(form.user) }}
    {{ form_row(form.festival) }}
    {{ form_row(form.startDate) }}
    {{ form_row(form.endDate) }}
    {{ form_end(form) }}

    {% if token is not defined %}
        <a href="{{ path('volunteer_availability_index') }}">{% trans %}back to list{% endtrans %}</a>
    {% endif %}

{% endblock %}
