{% extends 'base.html.twig' %}

{% block title %}VolunteerAvailability{% endblock %}

{% block body %}
    <h1>{% trans %}VolunteerAvailability{% endtrans %}</h1>

    <table class="table">
        <tbody>
            <tr>
{#                <th>Id</th>#}
{#                <td>{{ volunteer_availability.id }}</td>#}
            </tr>
            <tr>
                <th> {% trans %}StartDate{% endtrans %}</th>
                <td>{{ volunteer_availability.startDate ? volunteer_availability.startDate|date('Y-m-d H:i') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}EndDate{% endtrans %}</th>
                <td>{{ volunteer_availability.endDate ? volunteer_availability.endDate|date('Y-m-d H:i') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('volunteer_availability_edit', {'id': volunteer_availability.id}) }}">{% trans %}Edit{% endtrans %}</a>

    <form style="display: inline" method="post" action="{{ path('volunteer_availability_delete', {'id': volunteer_availability.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ volunteer_availability.id) }}">
        <button class="btn btn-outline-danger">{% trans %}Delete{% endtrans %}</button>
    </form>

    <a class="btn btn-outline-secondary float-right" href="{{ path('volunteer_availability_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}



