{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit Team{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="h3 mb-4 text-gray-800">{% trans %}Edit Team{% endtrans %}</h1>

{#    {{ include('team/_form.html.twig', {'button_label': 'Update'}) }}#}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.managers) }}
    {{ form_row(form.volunteers) }}
    {{ form_row(form.neededVolunteers) }}
    {{ form_row(form.backgroundColor) }}

    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
        <a href="{{ path('team_index') }}" class="btn btn-outline-secondary">
            Retour
        </a>
    </div>

    {{ form_end(form) }}

    {{ include('team/_delete_form.html.twig') }}
{% endblock %}
