{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Team{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="h3 mb-4 text-gray-800">{% trans %}Create new Team{% endtrans %}</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.festival) }}
    {{ form_row(form.managers) }}
    {{ form_row(form.volunteers) }}
    {{ form_row(form.neededVolunteers) }}
    {{ form_row(form.backgroundColor, {'value': "#3c62d1"}) }}
    <button class="btn btn-outline-primary">{% trans %}Save{% endtrans %}</button>
    {{ form_end(form) }}

{% endblock %}
