{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}
    <h1 class="h3 mb-4 text-gray-800">{% trans %}Team{% endtrans %} {{ team.name }}</h1>

    <table class="table">
        <tbody>
{#        <tr>#}
{#            <th>Id</th>#}
{#            <td>{{ team.id }}</td>#}
{#        </tr>#}
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <td>{{ team.name }}</td>
        </tr>
        <tr>
            <th>{% trans %}Description{% endtrans %}</th>
            <td>{{ team.description }}</td>
        </tr>
        <tr>
            <th>{% trans %}Background color{% endtrans %}</th>
            <td>{{ team.backgroundColor }}</td>
        </tr>
        <tr>
            <th>{% trans %}Needed volunteers{% endtrans %}</th>
            <td>{{ team.neededVolunteers }}</td>
        </tr>
        <tr>
            <th>{% trans %}Volunteers{% endtrans %}</th>
            <td>
                <ul class="list-group">
                    {% for volunteer in team.volunteers %}
                        <li class="list-group-item">
                            {{ volunteer.firstname }} {{ volunteer.lastname }}
                        </li>
                    {% endfor %}

                </ul>
            </td>
        </tr>
        </tbody>
    </table>


    <a class="btn btn-outline-primary" href="{{ path('team_index') }}">{% trans %}back to list{% endtrans %}</a>

    <a class="btn btn-outline-primary" href="{{ path('team_edit', {'id': team.id}) }}">{% trans %}edit{% endtrans %}</a>

    {{ include('team/_delete_form.html.twig') }}

{% endblock %}
