{% extends 'base.html.twig' %}

{% block title %}Job{% endblock %}

{% block body %}
    <h1>Job</h1>

    <table class="table">
        <tbody>
            <tr>
{#                <th>Id</th>#}
{#                <td>{{ job.id }}</td>#}
            </tr>
            <tr>
                <th>{% trans %}Title{% endtrans %}</th>
                <td>{{ job.title }}</td>
            </tr>
            <tr>
                <th>{% trans %}StartDate{% endtrans %}</th>
                <td>{{ job.startDate ? job.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}EndDate{% endtrans %}</th>
                <td>{{ job.endDate ? job.endDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}BackgroundColor{% endtrans %}</th>
                <td>{{ job.backgroundColor }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('job_edit', {'id': job.id}) }}">{% trans %}Edit{% endtrans %}</a>

    <form style="display: inline" method="post" action="{{ path('job_delete', {'id': job.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job.id) }}">
        <button class="btn btn-outline-danger">{% trans %}Delete{% endtrans %}</button>
    </form>

    <a class="btn btn-outline-secondary float-right" href="{{ path('job_index') }}">{% trans %}Back to list{% endtrans %}</a>

{% endblock %}
