{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block title %}{% endblock %}

{% block body %}

    {% if currentFestival == null %}
        <div class="row">
            {% for festival in festivals %}
                <!-- Earnings (Monthly) Card Example -->
                <a href="{{ path('festival_select', {"id": festival.id }) }}"
                   class="col-xl-3 col-md-6 mb-4 festival-card">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold text-primary text-uppercase mb-1">{{ festival.name }}</div>
                                    <div class="text-xs font-weight-bold text-grey-800 mb-1">
                                        du {{ festival.startDate|date('d') }} au {{ festival.endDate|date('d') }}
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <div id='calendar'></div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('index') }}
{% endblock %}
