{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('emailAvailabilities') }}
{% endblock %}

{% block body %}
    <h1> Préparation de l'email</h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.body) }}

    <input type="hidden" name="ignoredUsers">
    
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste bénévoles</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="volunteers_table" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Nom</th>
                        <th>Prénom</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="align-content-center" style="width: 10px;">
                                <input type="checkbox"  class="volunteers-checkbox" value="{{user.id}}" checked>
                            </td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.lastname }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('volunteer_availability_new', {festival:"5", user:"31" }) }}" class="btn btn-warming">TEST NEW CONTROLLER</a>
            </div>
        </div>
    </div>

    <button class="btn btn-primary submit mb-4 float-right">Envoyer</button>

    {{ form_end(form) }}

{% endblock %}

{% block title %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('emailAvailabilities') }}
{% endblock %}

