{% extends 'base.html.twig' %}

{% block title %}Festival index{% endblock %}


{% block body %}
    <h1 class="h3 mb-4 text-gray-800">Festivals</h1>

    <table class="table mt-lg-3">
        <thead>
        <tr>
            <th>Id</th>
            <th>{%  trans %}Name{% endtrans %}</th>
            <th>Debut</th>
            <th>Fin</th>
            {#                <th>Addresse</th>#}
            {#                <th>Code postal</th>#}
            {#                <th>Pays</th>#}
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for festival in festivals %}
            <tr>
                <td>{{ festival.id }}</td>
                <td><a href="{{ path('festival_show', {'id': festival.id}) }}">{{ festival.name }}</a></td>
                <td>{{ festival.startDate ? festival.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ festival.endDate ? festival.endDate|date('Y-m-d') : '' }}</td>
                {#                <td>{{ festival.address }}</td>#}
                {#                <td>{{ festival.zipcode }}</td>#}
                {#                <td>{{ festival.country }}</td>#}
                <td>
                    <a class="btn btn-primary" href="{{ path('festival_show', {'id': festival.id}) }}"><i
                                class="far fa-eye"></i></a>
                    <a class="btn btn-primary" href="{{ path('festival_edit', {'id': festival.id}) }}"><i
                                class="far fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('festival_new') }}" class="btn btn-primary mb-4">Ajouter</a>

{% endblock %}
