{% extends 'base.html.twig' %}

{% block title %}Festival{% endblock %}

{% block body %}
    <h1 class="h3 mb-4 text-gray-800">Festival</h1>

    <table class="table">
        <tbody>
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ festival.id }}</td>#}
{#            </tr>#}
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ festival.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}StartDate{% endtrans %}</th>
                <td>{{ festival.startDate ? festival.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}EndDate{% endtrans %}</th>
                <td>{{ festival.endDate ? festival.endDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Address{% endtrans %}</th>
                <td>{{ festival.address }}</td>
            </tr>
            <tr>
                <th>{% trans %}Zipcode{% endtrans %}</th>
                <td>{{ festival.zipcode }}</td>
            </tr>
            <tr>
                <th>{% trans %}Country{% endtrans %}</th>
                <td>{{ festival.country }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('festival_edit', {'id': festival.id}) }}">{% trans %}Edit{% endtrans %}</a>

    <form style="display: inline" method="post" action="{{ path('festival_delete', {'id': festival.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ festival.id) }}">
        <button class="btn btn-outline-danger">{% trans %}Delete{% endtrans %}</button>
    </form>

    <a class="btn btn-outline-secondary float-right" href="{{ path('festival_index') }}">{% trans %}Back to list{% endtrans %}</a>

{% endblock %}
